<div class="sidenav">
    <a href="/view-consignment">View Consignment</a>
    <a href="/add-branch">Add Branch</a>
    <a href="/view-branch">View Branch</a>
    <a href="/add-delivery">Add Delivery</a>
    <a href="/view-delivery">View Delivery</a>
    <a href="/add-employee">Add Employee</a>
    <a href="/view-employee">View Employee</a>
    <a href="/add-dispatch">Add Dispatch</a>
    <a href="/view-dispatch">View Dispatch</a>
    <a href="/find-optimized">Find Optimized Route</a>
</div>
<div class="bar">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Destination</th>
                </tr>
            </thead>
            <tbody>
                <td>Chennai</td>
                <td>Madurai</td>
                <td><a type="button" href="https://www.google.com/maps/dir/Chennai,+Tamil+Nadu/Madurai,+Tamil+Nadu/@11.501097,77.9675715,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x3a5265ea4f7d3361:0x6e61a70b6863d433!2m2!1d80.2707184!2d13.0826802!1m5!1m1!1s0x3b00c582b1189633:0xdc955b7264f63933!2m2!1d78.1197754!2d9.9252007!3e0" class="btn btn-danger">Find</a></td>
        </tbody>
        <tbody>
            <td>Pondicherry</td>
            <td>Chennai</td>
            <td><a type="button" href="https://www.google.com/maps/dir/Puducherry/Chennai,+Tamil+Nadu/@12.5115029,79.4072994,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x3a5361ab8e49cfcf:0xcc6bd326d2f0b04e!2m2!1d79.8083133!2d11.9415915!1m5!1m1!1s0x3a5265ea4f7d3361:0x6e61a70b6863d433!2m2!1d80.2707184!2d13.0826802!3e0" class="btn btn-danger">Find</a></td>
        </tbody>
        <tbody>
            <td>Vizhupuram</td>
            <td>Vellore</td>
            <td><a type="button" href="https://www.google.com/maps/dir/Viluppuram,+Tamil+Nadu/Vellore,+Tamil+Nadu/@12.4434756,78.7483882,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x3a5356c0727b6b77:0x2c8815a4b312e5f3!2m2!1d79.4861449!2d11.9401378!1m5!1m1!1s0x3bad38e61fa68ffb:0xbedda6917d262b5e!2m2!1d79.1324986!2d12.9165167!3e0" class="btn btn-danger">Find</a></td>
        </tbody>
        <tbody>
            <td>Chennai</td>
            <td>Kaniyakumari</td>
            <td><a type="button" href="https://www.google.com/maps/dir/Chennai,+Tamil+Nadu/Kanyakumari,+Tamil+Nadu/@10.5775576,76.6594303,7z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x3a5265ea4f7d3361:0x6e61a70b6863d433!2m2!1d80.2707184!2d13.0826802!1m5!1m1!1s0x3b04ed3d2a087861:0x1e790e896aeffaa0!2m2!1d77.5384507!2d8.0883064!3e0" class="btn btn-danger">Find</a></td>
        </tbody>
    </table>
</div>
</div>