<div class="sidenav">
    <a href="/view-consignment">View Consignment</a>
    <a href="/add-branch">Add Branch</a>
    <a href="/view-branch">View Branch</a>
    <a href="/add-delivery">Add Delivery</a>
    <a href="/view-delivery">View Delivery</a>
    <a href="/add-employee">Add Employee</a>
    <a href="/view-employee">View Employee</a>
    <a href="/add-dispatch">Add Dispatch</a>
    <a href="/view-dispatch">View Dispatch</a>
</div>
<div class="bar">
    <h1 style="text-align: center;">View Branch</h1>
<div class="col-md-6">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Branch Id</th>
                <th>Branch name</th>
                <th>Main Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let branch of branchs | async">
            <td>{{branch.bid}}</td>
            <td>{{branch.bname}}</td>
            <td>{{branch.mainBrAdd}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>