<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
    $(document).ready(function()
    {
$("#myInput").on("keyup",function()
{
    var value=$(this).val().toLowerCase();
    $("#myTable tr").filter(function()
    {
        $(this).toggle($(this).text().toLowerCase().indexOf(value)>-1)
    });
});
    });
</script>
</head>
<div class="bar">
    <h1 style="text-align: center;">View Dispatch</h1>
<div class="col-md-6">
    <input id="myInput" type="text" placeholder="Search..">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dispatch Id</th>
                <th>CustomerTrackingId</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr *ngFor="let dispatch of dispatches | async">
            <td>{{dispatch.diId}}</td>
            <td>{{dispatch.dispatchedOn}}</td>
            <td><a type="button" href="/dispatch1/{{dispatch.diId}}" class="btn btn-danger">Track Status</a></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
